/* Bruno Ace */
@font-face {
    font-family: 'Bruno Ace';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/brunoace/v5/WwkcxPa2E06x4trkOj_UN6AN.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* DM Sans */
@font-face {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/dmsans/v14/rP2Yp2ywxg089UriI5-g7M8btVsD8Ck0q7u0-K4.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* Finlandica */
@font-face {
    font-family: 'Finlandica';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/finlandica/v8/-nFsOGk-8vAc7lEtg0aSyZCty9GSsPBE19A7rHj2_C8.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

* {
    box-sizing: content-box;
    margin: 0;
    padding: 0;
}

body {
    width: 66vw;
    margin: auto;
    color:hsl(180, 7%, 16%);
    background-color: hsl(227, 100%, 98%);
    line-height: 1.6;
}

ul li {
    margin-left: 25px;
}

section {
    padding: 15px 15px;
    border: 1px solid hsl(180, 7%, 16%);
    margin: 15px 0;
    border-radius: 10px;
}

body, .finlandica {
    font-family: 'Finlandica', Helvetica, sans-serif;
}

h1, .bruno-ace {
    font-family: 'Bruno Ace', Helvetica, sans-serif;
}

h2, .dm-sans {
    font-family: 'DM Sans', Helvetica, sans-serif;
}

.color-container {
    display: flex;
    justify-content: space-evenly;
}

.color-panel {
    width: 100%;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    overflow: hidden;
}

.gunmetal {
    background-color: hsl(180, 7%, 16%);
    color: hsl(227, 100%, 98%);
}

.spring-green {
    background-color: hsl(151, 96%, 55%);
}

.antique-white {
    background-color: hsl(34, 91%, 91%);
}

.ghost-white {
    background-color: hsl(227, 100%, 98%);
}

h1 {
    font-weight: 700;
    font-size: 26px;
}

h2 {
    font-weight: 600;
    font-size: 22px;
}

p {
    font-weight: 400;
    font-size: 18px;
}

.font-panel, .text-panel {
    margin: 10px 0;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.underline {
    text-decoration: underline;
}